.card {
    cursor: pointer;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 15px;
    transform: scale(1);
    transition: transform 250ms cubic-bezier(0.07, 0.79, 0.18, 0.92);
    position: relative;
  }
  
  .card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.08);
  }
  
  .card:hover::before {
    transform: scaleX(1);
  }
  .card-title{
    font-family: 'Nerko One', cursive;
    color: rgb(235, 8, 159);
    font-size: 1.4rem;
  }
