.course-btn {
    color: white;
    padding: 0.7rem;
    width: 100%;
    max-width: 7rem;
    border-radius: 1rem;
    border: 0;
    outline: none;
    text-align: center;
    font-weight: 500;
    white-space: nowrap;
    letter-spacing: 1px;
    background-color: #7b78f8;
    box-shadow: 0 10px 20px 0 rgba(123, 120, 248, 0.5);
  }