@import "ringIcon";
@import "homeIcon";
@import "cards";
@import "courseButton";
@import "loginForm";
@import "lineLoading";
@import "signup";
a:link, 
a:hover {
  text-decoration: none !important;
}
.search-course {
  margin-left: 100px;
}

.checkbox-select-all-options {
  width: 170px;
  margin: 20px 20px;
}
.site-header {
  height: 3.5rem;
}

.form-message{
  color: red;
}

