<nav class="navbar navbar-expand-lg navbar-dark bg-dark site-header">
    <a class="navbar-brand" href="/home" style="position: absolute;">
        <i class="fas fa-home home-icon"></i>
    </a>
    <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse">
            <ul class="navbar-nav w-100 justify-content-center">
                <li class="nav-item dropdown mx-4">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Danh mục
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/categories/create">Thêm danh mục khoá học</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/me/stored/categories">Danh mục khoá học của tôi</a>
                        <div class="dropdown-divider"></div>
                    </div>
                </li>
                <li class="nav-item dropdown mx-4">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Khoá học
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/courses/create">Thêm khoá học</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/me/stored/courses">Khoá học của tôi</a>
                        <div class="dropdown-divider"></div>
                    </div>
                </li>
                <li class="nav-item dropdown mx-4">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Bài học
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/lessons/create">Thêm bài học</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/me/stored/lessons">Bài học của tôi</a>
                        <div class="dropdown-divider"></div>
                    </div>
                </li>
                <li class="nav-item dropdown mx-4">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Thao tác
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/signout">Đăng xuất</a>
                        <div class="dropdown-divider"></div>
                    </div>
                </li>
                <li class="nav-item dropdown mx-4">
                    <a class="nav-link" href="/report" id="navbarDropdown" role="button">
                        Báo cáo
                    </a>
                </li>
                <li class="nav-item dropdown mx-4">
                    <a class="nav-link" href="/me/stored/users" id="navbarDropdown" role="button">
                        Quản lý tài khoản
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

{{> formLogin}}
{{> formRegister}}